<mat-tab-group mat-align-tabs="center" backgroundColor="primary" animationDuration="0ms" [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="selctedTabChanged($event)">
    <mat-tab label="Demo">
        <ng-template matTabContent>
            <button class="settings-button" mat-mini-fab color="accent" aria-label="settings button"
                (click)="settingsOpen=!settingsOpen">
                <mat-icon>{{settingsOpen == false ? 'settings' : 'close'}}</mat-icon>
            </button>

            <div *ngIf="settingsOpen==true" class="settings-container mat-elevation-z6" [@settingsContainer]>
                <h4>Settings</h4>
                <div class="inner-settings-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Image size</mat-label>
                        <mat-select [(value)]="selectedImageSize">
                            <mat-option value="cover">cover</mat-option>
                            <mat-option value="contain">contain</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Transition duration (ms)</mat-label>
                        <input matInput type="number" [(ngModel)]="selectedTransitionDuration">
                    </mat-form-field>
                    <mat-slide-toggle class="slide-toggle" [(ngModel)]="selectedAutoPlayEnabled">Auto play
                    </mat-slide-toggle>
                    <mat-form-field *ngIf="selectedAutoPlayEnabled==true" appearance="fill">
                        <mat-label>Auto play interval (ms)</mat-label>
                        <input matInput type="number" [(ngModel)]="selectedAutoPlayInterval">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Transition type</mat-label>
                        <mat-select [(value)]="selectedTransitionType">
                            <mat-option value="split">split</mat-option>
                            <mat-option value="fade">fade</mat-option>
                            <mat-option value="noise">noise</mat-option>
                            <mat-option value="blur">blur</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container>
                        <ng-container *ngIf="selectedTransitionType=='split' || selectedTransitionType=='blur'">
                            <span>Intensity</span>
                            <mat-slider thumbLabel tickInterval="1" min="0" max="100" [(ngModel)]="selectedIntensity">
                            </mat-slider>
                        </ng-container>
                        <ng-container *ngIf="selectedTransitionType=='noise'">
                            <div class="slider">
                                <span>SizeX</span>
                                <mat-slider thumbLabel tickInterval="1" min="1" max="100" [(ngModel)]="selectedSizeX">
                                </mat-slider>
                            </div>
                            <div class="slider">
                                <span>SizeY</span>
                                <mat-slider thumbLabel tickInterval="1" min="1" max="100" [(ngModel)]="selectedSizeY">
                                </mat-slider>
                            </div>
                            <div class="slider">
                                <span>Width</span>
                                <mat-slider thumbLabel step="0.01" tickInterval="0.01" min="0.01" max="1"
                                    [(ngModel)]="selectedWidth"></mat-slider>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>

            <div class="container" (click)="imageTransition.next()">
                <lib-image-transition #imageTransition [imageUrls]="imageUrls" [transitionType]="selectedTransitionType"
                    [imageSize]="selectedImageSize" [transitionDuration]="selectedTransitionDuration" [autoPlay]="selectedAutoPlayEnabled"
                    [autoPlayInterval]="selectedAutoPlayInterval" [intensity]="selectedIntensity"
                    [sizeX]="selectedSizeX" [sizeY]="selectedSizeY" [width]="selectedWidth" [showPerformanceMonitor]="true"></lib-image-transition>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Description">
        <div class="description-container">
            <div class="description-content">
                <h2>Information</h2>
                <mat-divider></mat-divider>
                <p>
                    The image transition component is inspired and based on the Github repository
                    <a class="external-link" href="https://github.com/akella/webGLImageTransitions"
                        target="_blank">webGLImageTransitions</a>
                    from
                    <a class="external-link" href="https://github.com/akella" target="_blank">Yuriy Artyukh
                        (akella)</a>.
                    Most animation effects are taken from his repository.
                </p>
                <p>
                    Photo by
                    <a class="external-link" href="https://unsplash.com/@davidclode?" target="_blank">David Clode</a>
                    on
                    <a class="external-link" href="https://unsplash.com/" target="_blank">Unsplash</a>
                </p>


                <h2>Installation</h2>
                <mat-divider></mat-divider>
                <app-code-block language="bash">npm install three @types/three @angular/cdk ngx-acuw</app-code-block>

                <h2>Usage</h2>
                <mat-divider></mat-divider>

                <h3>Import Module</h3>
                <app-code-block language="ts">{{code.importModule}}</app-code-block>

                <h3>Directive Example</h3>
                <app-code-block language="html">{{code.directiveExample}}</app-code-block>

                <h2>Image Transition API</h2>
                <mat-divider></mat-divider>
                <h3>Properties</h3>

                <div class="table-container">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Default value</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>@Input() imageUrls: string[]</td>
                            <td>[]</td>
                            <td>Urls to the images</td>
                        </tr>
                        <tr>
                            <td>@Input() imageSize: string</td>
                            <td>cover</td>
                            <td>Size of the image ("cover", "contain")</td>
                        </tr>
                        <tr>
                            <td>@Input() autoPlay: boolean</td>
                            <td>false</td>
                            <td>Automatic change of the images</td>
                        </tr>
                        <tr>
                            <td>@Input() autoPlayInterval: number</td>
                            <td>5000</td>
                            <td>AutoPlay interval in ms, if autoPlay is activated</td>
                        </tr>
                        <tr class="depreciated">
                            <td>@Input() toggleTransitionDirection: boolean</td>
                            <td>true</td>
                            <td>true: animation effect is toggled from left to right. false: animation effect only in
                                one
                                direction</td>
                        </tr>
                        <tr>
                            <td>@Input() transitionDuration: number</td>
                            <td>1000</td>
                            <td>Duration of the transition effenct in ms</td>
                        </tr>
                        <tr>
                            <td>@Input() transitionType: string</td>
                            <td>split</td>
                            <td>Type of the transition (split, fade, noise, blur)</td>
                        </tr>
                        <tr>
                            <td>@Input() sizeX: string</td>
                            <td>50.0</td>
                            <td>Size at x-axis of the transition effect (applicable for type: 'noise')</td>
                        </tr>
                        <tr>
                            <td>@Input() sizeY: string</td>
                            <td>50.0</td>
                            <td>Size at y-axis of the transition effect (applicable for type: 'noise')</td>
                        </tr>
                        <tr>
                            <td>@Input() width: string</td>
                            <td>0.5</td>
                            <td>Width of the transition effect (applicable for type: 'noise')</td>
                        </tr>
                        <tr>
                            <td>@Input() intensity: string</td>
                            <td>40.0</td>
                            <td>Intensity of the transition effect (applicable for type: 'split', 'blur'</td>
                        </tr>
                        <tr>
                            <td>@Input() animationEnabled: boolean</td>
                            <td>true</td>
                            <td>
                                The animation can be stopped by setting the property to "false", e.g. if the element is not in viewport anymore.
                            </td>
                        </tr>
                        <tr>
                            <td>@Input() startIndex: number</td>
                            <td>0</td>
                            <td>
                                Defines with which image should be shown first when the component is created.
                            </td>
                        </tr>
                        <tr>
                            <td>@Output() imageIndexChange: EventEmitter&lt;number&gt;</td>
                            <td>-</td>
                            <td>
                                Event emitted when the shown image has changed.
                            </td>
                        </tr>
                    </table>
                </div>
                <h3>Methods</h3>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>next()</td>
                            <td>Loads the next image from the imageUrls array</td>
                        </tr>
                        <tr>
                            <td>prev()</td>
                            <td>Loads the previous image from the imageUrls array</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>