.slider{
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: calc(100vh - 104px - 64px);
  overflow: hidden;
}

@media (min-width: 600px) {
  .container {
      width: 100%;
      height: calc(100vh - 112px - 64px);
      overflow: hidden;
  }
}

.settings-button {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 2;
}

.settings-container {
  position: fixed;
  top: 115px;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  min-width: 150px;
  z-index: 1;
  max-height: calc(100vh - 150px);
  max-width: calc(100% - 20px);
}

.inner-settings-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px 40px 10px;
  overflow-y: auto;
}

.slide-toggle {
  margin: 15px 0 15px 0;
}

.description-container {
  margin: 0 10px 0 10px;
}

.description-container .description-content {
  max-width: 800px;
  margin: 0 auto 30px auto;
}

.table-container {
  max-width: inherit;
  overflow: auto;
}