.home-container{
    width: 100%;
}

.main-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--primary);
    color: white;
    padding: 0 0 30px 0;
}

.main-header .header-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header h1,h2{
    text-align: center;
}

.logo{
    height: 300px;
}

.description-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.description-container .description{
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

.components-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.components-list .component{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.components-list .component h3{
    text-align: center;
    color: black;
}

.components-list .component img{
    height: 150px;
    object-fit: contain;
}

.components-list .component:hover{
    background-color: rgba(0, 0, 0, 0.05);
}