<div class="home-container">
    <div class="main-header">
        <img class="logo" src="./assets/acuw.svg" alt="acuw logo">
        <div class="header-text-container">
            <h1>ACUW-Library</h1>
            <h2>Angular Components using WEBGL</h2>
        </div>
    </div>

    <h2>Description</h2>
    <div class="description-container">
        <div class="description mat-elevation-z2">
            <h3>What is ACUW?</h3>
            <p>ACUW is a collection of components for Angular made with the 3D library three.js</p>
        </div>
        <div class="description mat-elevation-z2">
            <h3>Why this library has been created?</h3>
            <p>The main purpose is to provide a simple usage of amazing stuff done by using three.js</p>
        </div>
    </div>

    <h2>Components</h2>
    <div class="components-list">
        <a class="component mat-elevation-z2" routerLink="/image-as-particles">
            <h3>Image As Particles</h3>
            <img src="./assets/image-as-particles/imageAsParticles.gif" alt="image-as-particles">
        </a>
        <a class="component mat-elevation-z2" routerLink="/image-transition">
            <h3>Image Transition</h3>
            <img src="./assets/image-transition/imageTransition.gif" alt="image-transition">
        </a>
        <a class="component mat-elevation-z2" routerLink="/lightbox">
            <h3>Lightbox</h3>
            <img src="./assets/lightbox/lightbox.jpg" alt="lightbox">
        </a>
        <a class="component mat-elevation-z2" routerLink="/carousel">
            <h3>Carousel</h3>
            <img src="./assets/carousel/carousel.gif" alt="carousel">
            <div class="new-badge">
                <span>new</span>
            </div>
        </a>
    </div>
    <h4>More components are in work. 🔨</h4>

</div>