.container{
    width: 100%;
    height: calc(100vh - 104px);
  }
  
  @media (min-width: 600px){
    .container{
      width: 100%;
      height: calc(100vh - 112px);
    }
  }

.settings-button {
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 2;
}

.settings-container {
    position: fixed;
    top: 115px;
    right: 0px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    min-width: 150px;
    max-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    z-index: 1;
    max-height: calc(100vh - 80px);
}

.image-selection-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px 5px 10px 0;
}

@media (min-width: 450px) {
    .image-selection-container {
        justify-content: center;
    }
}

.image-selection-container:after, .image-selection-container:before {
    content: '';
    flex: 0 0 5px;
}

.image-selection {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 5px 0 5px;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.5;
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.image-selection:hover {
    opacity: 1;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.8);
}

.image-active {
    opacity: 1;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.8);
}

.slide-toggle{
    margin: 15px 0 15px 0;
  }

.description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-container .description-content {
    max-width: 800px;
    margin: 0 10px 30px 10px;
}

.table-container{
    width: 100vw;
    max-width: inherit;
    overflow: auto;
  }