.container {
  width: 100%;
  height: calc(100vh - 104px - 64px);
}

@media (min-width: 600px) {
  .container {
    width: 100%;
    height: calc(100vh - 112px - 64px);
  }
}

.threejs-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.description-container .description-content {
  max-width: 800px;
  margin: 0 auto 30px auto;
}

.table-container {
  max-width: inherit;
  overflow: auto;
}