html {
    --primary: #3f51b5;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

.external-link::after {
    font-family: Material Icons;
    content: "open_in_new";
    position: relative;
    vertical-align: top;
}