.spacer {
  flex: 1 1 auto;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item{
  text-align: center;
}

.active-nav-item{
  background-color: rgba(0,0,0,.12);
}