.top-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-logo{
  height: 48px;
}

.content-container{
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-item{
  text-align: center;
}

.active-nav-item{
  background-color: var(--primary);
  color: white;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.created-by-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.created-by-content img{
  height: 20px;
}

.created-by-content a{
  display: flex;
  color: white;
}

.created-by-content > * {
  margin: 0 0 0 5px;
}

@media (min-width: 600px){
  .toolbar-logo{
    height: 56px;
  }

  .content-container{
    top: 64px;
  }
}