.spacer {
  flex: 1 1 auto;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-logo{
  height: 48px;
}

.nav-item{
  text-align: center;
}

.active-nav-item{
  background-color: rgba(0,0,0,.12);
}

@media (min-width: 600px){
  .toolbar-logo{
    height: 56px;
  }
}