<mat-toolbar class="top-toolbar" color="primary">
    <button mat-icon-button aria-label="menue icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home">
        <img class="toolbar-logo" src="../assets/acuw.svg" alt="acuw logo">
    </a>
    <span>ACUW - Showcase</span>
    <span class="spacer"></span>

    <a mat-icon-button href="https://github.com/windmichael/ngx-acuw" target="_blank" aria-label="github button">
        <img src="../assets/icons/GitHub-Mark-Light-64px.png" style="width: 35px;">
    </a>
</mat-toolbar>

<mat-sidenav-container class="content-container">
    <mat-sidenav #sidenav mode="over" fixedInViewport="false">
        <mat-nav-list>
            <a class="nav-item" [ngClass]="{'active-nav-item' : activeRoute == navItem.routeLink}" mat-list-item
                *ngFor="let navItem of navItems" [routerLink]="navItem.routeLink"> {{ navItem.name }} </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>