<mat-tab-group mat-align-tabs="center" backgroundColor="primary" animationDuration="0ms"
    [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selctedTabChanged($event)">
    <mat-tab label="Demo">
        <ng-template matTabContent>
            <div class="container">
                <acuw-particles class="particles" [showPerformanceMonitor]="true"></acuw-particles>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Description">
        <div class="description-container">
            <div class="description-content">
            </div>
        </div>
    </mat-tab>
</mat-tab-group>